body {
  background-color: bisque;
  text-align: center;
}

.contact {
  margin-top: 50px;
}
.picture {
  margin-bottom: 50px;
}
.email {
  margin-bottom: 50px;
}
.home-link {
  margin: 0 20px 0 0;
}
.photo-link {
  margin: 0 20px 0 0;
}
.contact-link {
  margin: 0 20px 0 0;
}
