body {
  background-color: bisque;
  text-align: center;
}

.contact {
  margin-top: 50px;
}
.picture {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 30px auto;
}
.email {
  margin-bottom: 50px;
}
.home-link {
  margin: 0 20px 0 0;
}
.photo-link {
  margin: 0 20px 0 0;
}
.contact-link {
  margin: 0 20px 0 0;
}
